<div id="main-container" class="container">
  

	<div *ngIf="!session" id="join">
	
    <div id="join-dialog" class="jumbotron vertical-center">
      <div *ngIf="type == null">
		<h2>Please Select Type</h2>
		<div class="form-group">
			<p>
				<input class="btn btn-lg btn-success" (click)="changeType(0)" value="Create Session">
		    </p>
			<p>
			  <input class="btn btn-lg btn-success " (click)="changeType(1)" value="Join Session">
			</p>
		</div>
       
        
      </div>
      <div *ngIf ="type == 0">
		  <button style="float:right" class="btn-primary" (click)="changeType(null)">back</button>
		<h2 style="font-weight:bold;">Create Session</h2> 
		<form class="form-group" (submit)="joinSession()">
			<p>
				<label>Name</label>
				<input class="form-control" type="text" id="userName" name="userName" [(ngModel)]="myUserName" required>
			</p>
			<p>
				<label>Session Name </label>
				<input class="form-control" type="text" id="sessionId" name="sessionId" [(ngModel)]="mySessionId" required>
			</p>
			<p>
				<label>Session Password </label>
				<input class="form-control" type="password" id="spwd" name="spwd" [(ngModel)]="sessionPwd" required>
			</p>
			<p>
				<label>Confrim Password </label>
				<input class="form-control" type="password" id="cpwd" name="cpwd" [(ngModel)]="confirmPwd" required>
			</p>
			<p class="text-center">
				<input class="btn btn-lg btn-success" type="submit" name="commit" value="Create">
			</p>
			<p *ngIf="login == false" style="color: red;">
			Session Name already taken</p>
	
		</form>
      </div>
     <div *ngIf="type == 1">
		<button style="float:right" class="btn-primary" (click)="changeType(null)">back</button>
      <h2 style="font-weight: bold;">Join a video session</h2>
			<form class="form-group" (submit)="joinSession()">
				<p>
					<label>Name</label>
					<input class="form-control" type="text" id="userName" name="userName" [(ngModel)]="myUserName" required>
				</p>
				<p>
					<label>Session Name</label>
					<input class="form-control" type="text" id="sessionId" name="sessionId" [(ngModel)]="mySessionId" required>
				</p>
				<p>
					<label>Session Password</label>
					<input class="form-control" type="password" id="spwd" name="spwd" [(ngModel)]="sessionPwd" required>
				</p>
				<p class="text-center">
					<input class="btn btn-lg btn-success" type="submit" name="commit" value="Join!">
                </p>
        
			</form>
       </div>
			
		</div>
	</div>

	<div *ngIf="session && login == true" id="session">
		<div id="session-header">
			<h1 id="session-title">{{mySessionId}}</h1>
			<input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" (click)="leaveSession()" value="Leave session">
		</div>
		<div *ngIf="mainStreamManager" id="main-video" class="col-md-6">
			<div class="video">
				<user-video [streamManager]="mainStreamManager"></user-video>
				<div class="buttons">
				  <button type="button" (click)="audioOff()" *ngIf="audioToggle == false"class="btn btn-primary"><i class="fas fa-volume-down"></i></button>
				  <button type="button" (click)="audioOff()" *ngIf="audioToggle == true"class="btn btn-primary"><i class="fas fa-volume-mute"></i></button>
				  <button type="button" (click)="videoOff()" *ngIf="videoToggle == false" class="btn btn-primary"><i class="fas fa-video"></i></button>
				  <button type="button" (click)="videoOff()" *ngIf="videoToggle == true" class="btn btn-primary"><i class="fas fa-video-slash"></i></button>
				  <button type="button" (click)="screenShare()" *ngIf="screenShareToggle == true" class="btn btn-primary "><i class="far fa-share-square rotate-icon"></i></button>
				  <button type="button" (click)="screenShare()" *ngIf="screenShareToggle == false" class="btn btn-primary"><i class="far fa-share-square"></i></button>
				</div>
			  </div>
		</div>
		<div id="video-container" class="col-md-6">
			<div *ngIf="publisher" class="stream-container col-md-6 col-xs-6">
				<user-video [streamManager]="publisher" (click)="updateMainStreamManager(publisher)"></user-video>
				<button (click)="videoOff()">Video on/off</button>
					<button (click)="audioOff()">Audio on/off</button>
					<button (click)="screenShare()">Screen share on/off</button>
					<button (click)="recordingSessionOn()">Recodring on</button>
					<button (click)="recordingSessionOff()">Recodring off</button>
			</div>
			<div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
				<user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></user-video>
			</div>
		</div>
	</div>
</div>